.hero img {
    width: 100%;
}

.hero {
  margin-bottom: 4.12em;
}

@media (max-width: 768px) {
  .hero {
    margin-bottom: 3.5em;
  }
}

@media (max-width: 375px) {
  .hero {
    margin-bottom: 2.38em;
  }
}