.post-title {
 @include title;
}

.posts__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1.56em;
  row-gap: 2em;
  margin-bottom: 4.31em;
}

.post__list__item {
  @include flex;
  align-items: flex-start;

  &-text-wrapper {
    margin-left: 1.25em;
  }

  &-title {
    color: $title-color;
    font-weight: bold;
    font-size: rem(16);
    line-height: rem(30);
  }

  &-subtitle {
    color: $subtitle-color;
    font-size: rem(12);
    line-height: rem(20);

  }

  &-desc {
    color: $text-color;
    font-size: rem(14);
    line-height: rem(26);
  }

}

@media (max-width: 768px) {
  .posts__list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 2em;
    margin-bottom: 3.75em;
  }
}

@media (max-width: 375px) {
  .posts__list {
    //display: grid;
    //grid-template-columns: repeat(1, 1fr);
    //row-gap: 2em;
    //margin-bottom: 3.75em;
  }
  .post__list__item {
    display: block;
    &-text-wrapper {
      margin: 0.69em 0 0 0;
    }
    &-desc {
      display: none;
    }
  }
}